
Library/metadata/04/

\.idea/\.idea\.VoxelCore_HD/\.idea/

\.idea/\.idea\.VoxelCore_HD/

Library/metadata/10/

Library/metadata/12/

Library/

Logs/IncrementalCompiler/

VoxelCore_HD\.sln

README\.md

ProjectSettings/

Assembly-CSharp-Editor-firstpass\.csproj

*.csproj

Logs/Packages-Update\.log

Packages/manifest\.json

obj/Debug/Assembly-CSharp\.csprojAssemblyReference\.cache

VoxelCore_HD/Assets/Plugins
*.meta

Temp/
